<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="sqlconex" connectionString="server=PC-LUCA;Integrated Security=false;Database=db_Academia_302_TT_2023;uid=sa;pwd=261001;" />
  <add name="UIDesktop.Properties.Settings.cn" connectionString="Data Source=PC-LUCA;Initial Catalog=db_Academia_302_TT_2023;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>